TZ=Asia/Shanghai

# SQLite
SQLITE_PATH=/app/data
SQLITE_DB=waline
SQLITE_PREFIX=wl_
JWT_TOKEN=replace-with-a-long-random-string

# Site binding
SITE_NAME=柒色墨笺
SITE_URL=https://vii.ink
SECURE_DOMAINS=vii.ink,www.vii.ink,waline1.ficor.cc,localhost,127.0.0.1

# Admin notification receiver
AUTHOR_EMAIL=ficor@qq.com
