---
import { getEssayPath, getVisibleEssayRouteEntries } from '../../lib/content';
import { createWithBase } from '../../utils/format';

export const prerender = true;

export async function getStaticPaths() {
  const routeEntries = await getVisibleEssayRouteEntries();
  return routeEntries.map(({ slug }) => {
    return {
      params: { slug },
      props: { slug }
    };
  });
}

const redirectUrl = createWithBase(import.meta.env.BASE_URL ?? '/')(getEssayPath(Astro.props.slug));
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectUrl}`} />
    <link rel="canonical" href={redirectUrl} />
    <title>Redirecting...</title>
  </head>
  <body>
    <a href={redirectUrl}>Redirecting...</a>
  </body>
</html>
